<div id="about">
	<div>
		<center>
			<h4>About Us</h4>
		</center>
	</div>
	<div>
		<p>
			We think travel can be a much better experience if you are connected to an Agent who is an expert in your destination. Since he is an expert, he can design trips hand crafted just for you and get the best deals on everything you need for you travel be it flights, hotels, cars etc. At Flynote we are building technology for both Agents and Travelers which helps them connect and communicate better making travel simple and better. Just say Hi! 
		</p>
	</div>
</div>