<!DOCTYPE html>
<html>
<head>

		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css">
			<title>tourist</title>
		<script>
		function includeHTML() {
		  var z, i, elmnt, file, xhttp;
		  /*loop through a collection of all HTML elements:*/
		  z = document.getElementsByTagName("*");
		  for (i = 0; i < z.length; i++) {
		    elmnt = z[i];
		    /*search for elements with a certain atrribute:*/
		    file = elmnt.getAttribute("w3-include-html");
		    if (file) {
		      /*make an HTTP request using the attribute value as the file name:*/
		      xhttp = new XMLHttpRequest();
		      xhttp.onreadystatechange = function() {
		        if (this.readyState == 4) {
		          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
		          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
		          /*remove the attribute, and call this function once more:*/
		          elmnt.removeAttribute("w3-include-html");
		          includeHTML();
		        }
		      }      
		      xhttp.open("GET", file, true);
		      xhttp.send();
		      /*exit the function:*/
		      return;
		    }
		  }
		};
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body ng-app="flynote-app">
		<!-- navbar starts -->
		<div w3-include-html="navbar.html"></div>
		<!-- navbar ends -->

		<div id="content">
			<div class="col-md-1"></div>
			<div class="col-md-6" ng-view class="container"></div>
			<div class="col-md-1"></div>
			<!-- registration form starts -->
			<div class="col-md-4 col-sm-12" class="container" id="form_content">
				<center>
					<h4 style="color: #fff;">Ping Us ! We'll Get Back To You</h4>
				</center>
				<form id="reg_form" name="reg_form" ng-submit="submit()" ng-controller="Form-Controller">
					<div class="form-group">
						<input type="number" name="phone" class="form-control" placeholder="Contact Number" required ng-model="user.phone" ng-minlength="10" ng-maxlength="10">
						<span style="color: red;">
							<span ng-show="reg_form.phone.$error.required">Required</span>
							<span ng-show="reg_form.phone.$error.minlength">Invalid Phone Number</span>
							<span ng-show="reg_form.phone.$error.maxlength">Invalid Phone Number</span>
							<span></span>
						</span>
					</div>

					<div class="form-group">
						<input type="email" name="email" class="form-control" placeholder="Email" required ng-model="user.email">
						<span style="color: red">
							<span ng-show="reg_form.email.$error.required">Required</span>
							<span ng-show="reg_form.email.$error.email">Invalid email</span>
							<span ng-show="isCheck2">{{email_msg}}</span>
						</span>
					</div>

					<div class="form-group">
						<label class="form-group">Select An Avatar</label><br>
						<select ng-model="user.avatar" name="avatar" required>
							<option value="boy">Boy</option>
							<option value="girl">Girl</option>
						</select>
						<span style="color: green;" id="message" ng-show = "isCheck1">{{message}}</span>
						<span style="color: red;"  id="message" ng-show = "isCheck">{{err_msg}}</span>
					</div>

					<button type="submit" id="sub_button" ng-disabled="reg_form.$invalid">Submit</button>
				</form>
			</div>
			<!-- registration form ends -->
		</div>

		
		<footer>
			<small>&copy; Copyright 2018 | <a href="#">tourist</a></small>
		</footer>
		



		<!-- scripts start here -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script>
			includeHTML();
		</script>

		<!-- angular script -->
		<script src="script.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
    $("#message").delay(5000).slideUp(300);
});
		</script>
</body>
</html>