/*styles sheets starts here*/


/*content styles*/

#content{
	background-image: url('http://static.asiawebdirect.com/m/bangkok/portals/bali-indonesia-com/homepage/top10-hotels/pagePropertiesImage/viceroy-bali.jpg.jpg');
	height: 41em;
}
/*navbar styles*/
.navbar{
	background: #5452b3 !important;
	border-radius: 0px;
	margin-bottom: 0px;
	border:0px solid #fff;
}

.navbar a{
	color: #fff !important;
	background: #5452b3;
}

.navbar a:hover{
	color: #16193b !important;
}


/*registration form*/

#form_content{
	margin-top: 40px;
}

#reg_form{
	box-shadow: 5px 5px 5px 5px #111;
	padding: 20px;
	margin-top: 20px;
	background:#fff;
}

#reg_form #sub_button{
	border: 1px solid #35478c;
	width: 100%;
	padding: 10px;
	background: #35478c;
	color: #fff;
}

#reg_form #sub_button:hover{
	background: #16193b;
}

/*input validation styles*/

input.ng-valid{
	border: 1px solid lawngreen;
}

/*home styles*/

#home{
	margin-top: 55px;
}

#home img{
	/*height: 30em;*/
}

/*about styles*/

#about{
	margin-top: 55px;
}  

#about p{
	text-align: justify;
	color: #fff !important;
	font-size: 18px;
}

#about h4{
	color: #fff;
}

/*footer styles*/

footer{
	text-align: center;
	background: #5452b3;
    position: absolute;
    left: 0;
    /*bottom: 0;*/
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

footer small,a{
	color: #fff !important;
	text-decoration: none !important;
}

/*css for small screens*/

@media only screen and (max-width: 480px){

	/*content css*/
	#content{
		height: 100%;
	}

	/*about css*/
	#about p{
		font-size: 13px;
	}

}